{% capture tags %}
  {% if post %}
    {% for tag in post.tags %}
        {% assign tag_slug = nil %}
        {% for slug_map in site.data.tag_slugs %}
            {% if slug_map[1] == tag %}
                {% assign tag_slug = slug_map[0] %}
            {% endif %}
        {% endfor %}
        {% unless tag_slug %}
            {% assign tag_slug = tag | downcase | replace: ' ', '-' %}
        {% endunless %}
        <a href="{{ '/tag/' | prepend: site.baseurl }}{{ tag_slug }}/" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% else %}
    {% for tag in page.tags %}
        {% assign tag_slug = nil %}
        {% for slug_map in site.data.tag_slugs %}
            {% if slug_map[1] == tag %}
                {% assign tag_slug = slug_map[0] %}
            {% endif %}
        {% endfor %}
        {% unless tag_slug %}
            {% assign tag_slug = tag | downcase | replace: ' ', '-' %}
        {% endunless %}
        <a href="{{ '/tag/' | prepend: site.baseurl }}{{ tag_slug }}/" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% endif %}
{% endcapture %}
<!-- <span class="point">•</span> -->
<span class="pageTag">
  {% include icon.html name="tags" %}{{ tags }}
</span>
