{% capture tags %}
  {% if post %}
    {% for tag in post.tags %}
        {% assign tag_slug = site.data.tag_slugs[tag] %}
        {% unless tag_slug %}
            {% assign tag_slug = tag | append: '' | slugify %}
        {% endunless %}
        <a href="{{ '/tag/' | append: tag_slug | append: '/' | relative_url }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% else %}
    {% for tag in page.tags %}
        {% assign tag_slug = site.data.tag_slugs[tag] %}
        {% unless tag_slug %}
            {% assign tag_slug = tag | append: '' | slugify %}
        {% endunless %}
        <a href="{{ '/tag/' | append: tag_slug | append: '/' | relative_url }}" title="Tag: {{ tag }}" rel="tag">{{ tag | join: "/" }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  {% endif %}
{% endcapture %}
<!-- <span class="point">•</span> -->
<span class="pageTag">
  {% include icon.html name="tags" %}{{ tags }}
</span>
