.content-ul {
    &::-webkit-scrollbar {
        width: 7px;
        height: 6px;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb);
        border: 0 none;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--text-muted);
    }
    &::-webkit-scrollbar-track {
        background: var(--scrollbar-track);
        border-radius: 50px;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}
