<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {% include head.html %}

  <body>

    <a href="#main-content" class="skip-link">Skip to content</a>

    {% include header.html %}

        {{ content }}

    {% include footer.html %}
    {% include backToTop.html %}
    <script src="{{ '/js/main.js' | relative_url }}" charset="utf-8"></script>
    {% if page.layout == 'post' or page.copy_code %}
    <script src="{{ '/js/copy-code.js' | relative_url }}" charset="utf-8"></script>
    {% endif %}
  </body>

</html>
